<h1>TItulo da pagina</h1>
<div class="container">

    <mat-card class="filme-card" *ngFor="let i of filme">
        <mat-card-header>
            <mat-card-title>{{i.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{i.poster_path}}" alt="Poster do Filme: {{i.title}} ">
        <mat-card-actions>
            <a routerLink='detalhes/{{i.id}}' mat-raised-button color="primary" matTooltip="Resumo, ano de lançamento e mais informações"
            aria-label="Button that displays a tooltip when focused or hovered over">Mais Informações</a>
        </mat-card-actions>
    </mat-card>

</div>